[Desktop Entry]
Version=1.0
Type=Application
Name=Sound Normalizer Ultra
Exec=sound-normalizer-ultra
Icon=sound-normalizer-ultra.png
Terminal=false
Categories=AudioVideo;Audio;
StartupWMClass=sound-normalizer-ultra
